.env
.vscode/
.DS_Store
artifacts/
wandb/
logs/
*.err
*.out
*.log
__pycache__/
test/
network_analysis/gephi
network_analysis/graph_files
.ipynb_checkpoints
out/
.VSCodeCounter/
# ignore subject chunking files (used for job submission)
chunk_*.txt
*.pdf